@model EDeskOutSourcing.Models.ProjectTaskQuery

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/FreelancerArea/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProjectTaskQuery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ProjectTaskQueryID" class="control-label"></label>
                <input asp-for="ProjectTaskQueryID" class="form-control" />
                <span asp-validation-for="ProjectTaskQueryID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QueryTitle" class="control-label"></label>
                <input asp-for="QueryTitle" class="form-control" />
                <span asp-validation-for="QueryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTaskID" class="control-label">Task Title</label>
                <select asp-items="@ViewBag.TID" asp-for="ProjectTaskID" class="form-control">
                    <option>Select Task</option>
                </select>
                <span asp-validation-for="ProjectTaskID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueryDescription" class="control-label"></label>
                <input asp-for="QueryDescription" class="form-control" />
                <span asp-validation-for="QueryDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input  class="form-check-input" asp-for="IsSolved" /> @Html.DisplayNameFor(model => model.IsSolved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

