@model EDeskOutSourcing.Models.Company

@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/CompanyArea/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<h4>CRegisterVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="ManageCompany" asp-area="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <input asp-for="CompanyID" class="form-control" />
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonName" class="control-label"></label>
                <input asp-for="ContactPersonName" class="form-control" />
                <span asp-validation-for="ContactPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityID" class="control-label">Select City</label>
                <select asp-for="CityID" asp-items="@ViewBag.CityID"></select>
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoinedDate" class="control-label"></label>
                <input asp-for="JoinedDate" class="form-control" />
                <span asp-validation-for="JoinedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

