@model EDeskOutSourcing.Models.ProjectTaskAssignment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/CompanyArea/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProjectTaskAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FreelancerID" class="control-label">Freelancer Name</label>
                <select asp-for="FreelancerID" asp-items="@ViewBag.FID" class="form-control"></select>
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTaskID" class="control-label">Task Title</label>
                <select asp-for="ProjectTaskID" asp-items="@ViewBag.TID" class="form-control">
                    <option>Select Project Task</option>
                </select>
                <span asp-validation-for="ProjectTaskID" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="AssignedDate" class="control-label"></label>
                <input asp-for="AssignedDate" class="form-control" />
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedCompletionDate" class="control-label"></label>
                <input asp-for="ExpectedCompletionDate" class="form-control" />
                <span asp-validation-for="ExpectedCompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

