@model EDeskOutSourcing.Models.FreelancerEducation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/FreelancerArea/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Freelancer Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @*<input type="hidden" asp-for="FreelancerEducationID" />
            <input type="hidden" asp-for="FreelancerID" />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PassingYear" class="control-label"></label>
                <input asp-for="PassingYear" class="form-control" />
                <span asp-validation-for="PassingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityInstituteName" class="control-label"></label>
                <input asp-for="UniversityInstituteName" class="form-control" />
                <span asp-validation-for="UniversityInstituteName" class="text-danger"></span>
               
            </div>
            <div>
                 <td>
                     <label asp-for="Education.EducationName" class="control-label"></label>
                    <select asp-for="EducationID" name="EName" asp-items="@ViewBag.EID" class="form-control">
                        <option>Select Education Name</option>
                    </select>
                </td>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

