@model EDeskOutSourcing.Models.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/CompanyArea/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ProjectID"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control"  asp-items="@ViewBag.CompanyID"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStatus" class="control-label"></label>
                <select asp-for="ProjectStatus" class="form-control">
                    <option>Select Project Status</option>
                    <option value="1">Uploaded</option>
                    <option value="2">Team Formation</option>
                    <option value="3">Started</option>
                    <option value="4">Terminated</option>
                    <option value="5">Finished</option>
                </select>
                <span asp-validation-for="ProjectStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPaymentTerms" class="control-label"></label>
                <select asp-for="ProjectPaymentTerms" class="form-control" >
                    <option>Select Project Payment Terms</option>
                    <option value="1">One Time</option>
                    <option value="2">Hourly</option>
                    <option value="3">Task Based</option>
                </select>
                <span asp-validation-for="ProjectPaymentTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTermsAndConditions" class="control-label"></label>
                <input asp-for="ProjectTermsAndConditions" class="form-control" />
                <span asp-validation-for="ProjectTermsAndConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedCompletionDurationDays" class="control-label"></label>
                <input asp-for="ExpectedCompletionDurationDays" class="form-control" />
                <span asp-validation-for="ExpectedCompletionDurationDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

